@media (min-width: 601px) {
  .category {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    margin-top: 2rem;
  }

  .category p {
    text-align: center;
    margin: 0.9rem;
    font-weight: bold;
    letter-spacing: 2px;
  }

  .category img {
    margin-top: 2rem;

    transition: transform 0.3s ease;
  }

  .category img:hover {
    transform: scale(1.2);
  }
}

@media (max-width: 600px) {
  .category {
    display: grid;
    grid-template-columns: 2fr 50%;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    margin-left: 1.3rem;
    width: 15rem;
    gap: 20px;
  }

  .category img {
    width: 10rem;
    height: 13rem;
    border: 2px solid var(--yellow-400);
  }

  .text {
    display: flex;
    margin-left: 2.9rem;

    margin-top: 0.7rem;
    background: transparent;
    justify-content: start;
  }
}
