@media (min-width: 601px) {



    .category {

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
 

        margin-top: 2rem;




    }



    .category p {
        text-align: center;
        margin: 0.5rem;
        font-weight: bold;
        letter-spacing: 2px
    }

    .category img {
        margin-top: 2rem;
        transition: transform 0.3s ease;
    }

    .category img:hover {
        transform: scale(1.2);
    }


}

@media (max-width:600px) {

    .category {
        display: grid;
        grid-template-columns: 2fr 50%;
        justify-content: center;
        align-items: center;
        padding: 5rem;
   margin-left: 0.4rem;
        width: 15rem;
        gap: 10px;
    }
    .category img{
        width: 11.2rem;
    }

}