.contactUs {
    background: var(--blue-100);
    width: 90vw;
    color: var(--yellow-300);
    box-shadow: 1px 2px 4px 4px rgba(190, 181, 181, 0.2);
    border-radius: 8px;
    margin: 4rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

a {
    text-decoration: none;
}

.time {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.time h1 {
    color: var(--yellow-400);
}

.time p {
    opacity: 0.5;
    color: var(--yellow-400);
}

.sara {
    margin-top: -1.8rem;
}

.header {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem;
    gap: 30px;
}

.image {
    border-radius: 5rem;
    width: 180px;
}

.text {
margin-top: 1rem;

    color: var(--white-400);

}

.text2 {
    margin-top: 1rem;
    color: var(--white-400);
}

.buttonWhatsapp {
    background-color: #25D366;
    /* Cor verde padrão do WhatsApp */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
    top: 9.3rem;
    right: 1.8rem;

    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttonWhatsapp:hover {
    background-color: #128C7E;
    /* Cor verde escura do WhatsApp ao passar o mouse */
}


.line {
    border: 1px solid var(--white-400);
    height: 300px;
    margin: 0 auto;
}

.contactLink {
    text-decoration: none;
    color: var(--white-400);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.image:hover {
    cursor: pointer;
    transform: scale(1.1);
}



.back:hover {
    color: var(--yellow-400);
}

@media (max-width: 600px) {
    .contactUs {
        flex-direction: column;

    }

    .sara {
        margin-left: .9rem;

    }

    .text2 {
        margin-bottom: .6rem;
        color: var(--white-400);
        margin-top: .3rem
    }

    .text {
        margin-top: .3rem;
        color: var(--white-400);
        margin-bottom: -.9rem;
    }

    .saraNumber {
        display: block;
        align-items: center;

    }

    .header {
        padding: 1rem;
        gap: 20px;

        width: 120%;
    }


    .image {
        width: 130px;
        height: auto;
    }

    .line {
        width: 80%;
        margin-left: -4rem;
    }

    .time {
        margin-bottom: 1rem;
        text-align: center;
    }

    .buttonWhatsapp {
        top: 9.9rem;
        right: 7.7rem;
    }
}