@media (min-width: 601px) {


    .contactUs {



        background: var(--blue-100);
        width: 50vw;
        color: var(--yellow-300);
        box-shadow: 1px 2px 4px 4px rgba(190, 181, 181, 0.2);
        border-radius: 8px;


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: -1rem;

    }

    .header {

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
        gap: 30px;




    }

    .image {
        border-radius: 5rem;
        height: 14rem;

    }

    .line {
        border: 1px var(--white-400) solid;
        width: 38rem;
        align-items: center;
        margin: 0 auto;


    }

    .whatsapp {

        height: 30px;
        min-width: 250%;
        border-radius: 8px;

        transition: transform 0.3s ease;

    }

    a {
        color: var(--yellow-300);
        text-decoration: none;


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;


    }

    .image:hover {

        cursor: pointer;
        transform: scale(1.1);
    }

    .a {
        color: var(--white-400);
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;

    }

    .a:hover {

        cursor: pointer;
        transform: scale(1.1);
        color: var(--green-500);
    }

    .back {
        position: relative;
        right: 32rem;
        bottom: 1.5rem;
        display: flex;
        align-items: center;
        gap: 5px;
        color: var(--black-100);
        cursor: pointer;
        font-weight: bold;


    }

    .back:hover {


        color: var(--yellow-400);
    }
}

@media (max-width: 600px) {




    .back {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;

        cursor: pointer;
        font-weight: bold;
        position: absolute;
        color: var(--black-100);
        top: 10.3rem;
        left: 1.3rem;


    }

    .back:hover {


        color: var(--yellow-400);
    }

    .contactUs {



        background: var(--blue-100);
        width: 90vw;
        height: 60vh;
        color: var(--yellow-300);
        box-shadow: 1px 2px 4px 4px rgba(190, 181, 181, 0.2);
        border-radius: 8px;
        margin: 5rem auto 10rem;


    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;

        padding: 1.7rem;
        gap: 10px;





    }

    .image {
        height: 160px;

        border-radius: 14px;

    }

    .line {
        border: 1px var(--white-400) solid;

        height: 20rem;
        margin-right: 1rem;
        margin-left: 2rem;



    }

    .whatsapp {

        height: 33px;

        min-width: 250%;
        border-radius: 8px;


        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;





        border: 1px black solid;
        transition: transform 0.3s ease;

    }



    a {
        color: var(--white-400);
        text-decoration: none;


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;


    }

    a:hover {

        cursor: pointer;
        transform: scale(1.1);
    }

    .button {
        color: var(--white-400);
        text-decoration: none;
        position: relative;
        top: 9rem;
        right: 5.8rem;


    }

    .button:hover {

        cursor: pointer;
        transform: scale(1.1);
        color: var(--green-500);
    }



}