@media (min-width:678px) {

    .cookieConsentContainer {
        display: flex;
        justify-content: end;
        position: fixed;
        width: 25rem;
        height: 13.5rem;
        margin-left: 2rem;
        border-radius: 8px;
        padding: .7rem .8rem 1rem;
        z-index: 100000;

        border: 2px solid var(--yellow-300);
        margin-bottom: .7rem;
        bottom: 0;
        display: block;
        background-color: var(--blue-100);
        color: var(--white-200);

    }


    .declineButtonClasses {

        margin-right: 2rem;
    }
  


    .buttonClasses, .declineButtonClasses {
        background-color: var(--yellow-300);
        font-weight: bold;
        border: none;
        border-radius: 5px;
        font-size: .9rem;
        padding: .3rem;
    



    }

    .link {
        display: flex;
        margin-right: -1rem;
        margin-bottom: 1rem;

        color: #E6D35B;
        opacity: 0.7;
        cursor: pointer;
        align-items: start;

    }
}

@media (max-width: 678px) {

    .cookieConsentContainer {
        display: flex;
        justify-content: center;
        position: fixed;
        width: 23rem;
        align-items: center;
        height: 13.5rem;

        border-radius: 8px;
        padding: .7rem .8rem 1rem;
        z-index: 100000;

        border: 2px solid var(--yellow-300);
        margin-bottom: .6rem;
        margin-left: .7rem;
        bottom: 0;
        display: block;
        background-color: var(--blue-100);
        color: var(--white-200);

    }


    .declineButtonClasses {

        margin-right: 2rem;
    }


    .buttonClasses, .declineButtonClasses {
        background-color: var(--yellow-300);
        font-weight: bold;
        border: none;
        border-radius: 5px;
        padding: .1rem;



    }

    .link {
        display: flex;
        margin-right: -1rem;
        margin-bottom: 1rem;

        color: #E6D35B;
        opacity: 0.7;
        cursor: pointer;
        align-items: start;

    }

}