
@media (max-width: 1024px) {
    
.modal,.list {
display:none;
}
.header {
    background-color: var(--blue-100);
    height: 9rem;
    width: 100vw;
    display: flex;
    align-items: center;

    margin-bottom: 6rem;

    gap: 15rem;
}

.image {
    height: 16rem;
    width: 16rem;




}


.image:hover {
    cursor: pointer;
}

.talkToUs {
    display: flex;
    background: inherit;
    border: none;

    align-items: center;
    margin: 0 1rem;
    margin-left: 2rem;
    margin-bottom: -0.1rem;
    cursor: pointer;
    font-weight: bold;
    gap: 0.3rem;
    color: var(--yellow-300);
    position: relative;

}

.talkToUs:hover {

    color: var(--yellow-400);

}

.talkToUs::after {

    content: '';
    position: absolute;
    background-color: var(--white-300);
    height: 3px;
    width: 0;
    bottom: 0;

}

.talkToUs:hover::after {

    width: 100%;
    transition: width 0.9s ease;
}

.service {
    background: inherit;
    border: none;
    display: flex;
    align-items: center;
    margin-bottom: -0.1rem;
    cursor: pointer;
    font-weight: bold;
    gap: 0.3rem;
    position: relative;
    color: var(--yellow-300);
}


.service:hover {

    color: var(--yellow-400);

}

.service::after {

    content: '';
    position: absolute;
    background-color: var(--white-300);
    height: 3px;
    width: 0;
    bottom: 0;

}

.service:hover::after {

    width: 100%;
    transition: width 0.9s ease;
}

.service.active  {
    width: 100%; 
    position: absolute;
    background-color: var(--white-300);
    height: 3px;
    width: 0;
    bottom: 0;
}

.help {
    display: flex;

    gap: 2rem;
    align-items: center;


}

.search {

    display: flex;
    align-items: center;
    margin-left: 3rem;
    gap: 10px;


}

.input {
    border: none;
    border-radius: 5px;
    height: 1.2rem;


    background-color: var(--white-400);
    color: var(--gray-400);
}

.input::placeholder {
    padding-left: 8px;
    font-size: 15px;
    align-items: center;

}

.button {
    border: none;
    background: inherit;
    display: flex;
    color: var(--gray-300);
}

.button:hover {
    color: var(--white-200);
}
}

@media (max-width: 600px) {

    .talkToUs,.service,.input,.button{
        display: none;
    }

.header {
    background-color: var(--blue-100);
    height: 9rem;
    width: 100vw;
    display: flex;
    align-items: center;

    margin-bottom: 6rem;

    gap:-1rem;
}
.list{

    background-color: inherit;
    border: none;
    color:var(--yellow-300);

}
.modal{ 


    
    height: 100vh;
    background-color:#0a1b2d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
    
    
}
.wrapperModal{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}
}