@media (min-width:768px) {

    .modal, .list {
        display: none;
    }

    .header {
        background-color: var(--blue-100);
        height: 7rem;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-a;

        margin-bottom: 4rem;
        gap: 14rem;
        padding: 10px;

    }

    .profileUser {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: row;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    .profileUser img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin-right: 0.5rem;

    }

    .profileUser p {
        color: var(--yellow-300);
 
        font-weight: bold;
   
        margin-top: .7rem;
    }

    .image {
        height: 15rem;
        margin: 0 auto 0 3rem;
        width: 16rem;


    }


    .image:hover {
        cursor: pointer;
    }

    .talkToUs {
        display: flex;
        background: inherit;
        border: none;

        align-items: center;
        margin: 0 1rem;



        cursor: pointer;
        font-weight: bold;

        color: var(--yellow-300);
        position: relative;

    }



    .service {
        background: inherit;
        border: none;
        display: flex;
        align-items: center;
        margin-bottom: -0.1rem;
        cursor: pointer;
        font-weight: bold;

        position: relative;

        color: var(--yellow-300);

    }

    .start {
        background: inherit;
        border: none;
        display: flex;
        align-items: center;
        margin-bottom: -0.1rem;
        cursor: pointer;
        font-weight: bold;

        position: relative;

        color: var(--yellow-300);
        ;
    }

    .desactive {
        border-bottom: none;
    }


    .active {
        border-bottom: 2px solid var(--white-300);

    }




    .help {
        display: flex;

        gap: .7rem;
        align-items: center;



    }

    .search {

        display: flex;
        align-items: center;


        margin: 0 auto;
        gap: 10px;


    }

    .input {
        border: none;
        border-radius: 5px;
        height: 1.2rem;


        background-color: var(--white-400);
        color: var(--gray-400);
    }

    .input::placeholder {
        padding-left: 8px;
        font-size: 15px;
        align-items: center;

    }

    .button {
        border: none;
        background: inherit;
        display: flex;
        color: var(--gray-300);
    }

    .button:hover {
        color: var(--white-200);
    }


}

@media (max-width: 768px) {

    .talkToUs, .service, .input, .button, .start {
        display: none;
    }

    .header {
        background-color: var(--blue-100);
        height: 9rem;
        width: 100vw;
        display: flex;
        align-items: center;

        margin-bottom: 3rem;

        gap: -2rem;
    }

    .list {

        margin-left: 1.2rem;
        background-color: inherit;
        border: none;
        color: var(--yellow-300);

    }

    .modal {
        position: sticky;
        display: table;

        width: 50%;
        top: 0;
        left: 0;
        z-index: 2000;
        border: none;
        min-height: 100vh;
        outline: none !important;
        background-color: #0a1b2d;
        opacity: 0;
        transform: translateY(-100%);
        animation: slideDown 0.5s ease-in-out forwards;

    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 34;
        bottom: 0;
        background: rgba(0, 0, 0, 0);
    }


    .wrapperModal {
        display: flex;
        flex-direction: column;

        justify-content: start;
        align-items: center;

        margin-top: 5rem;
        gap: 2rem;

        width: 100%;
        height: 100%;
    }


    .talkToUsMobile {
        display: flex;
        background: inherit;
        justify-content: center;
        border: none;
        width: 70%;

        align-items: center;


        cursor: pointer;
        font-weight: bold;
        gap: 0.3rem;
        color: var(--yellow-300);
        position: relative;


    }



    .serviceMobile {
        display: flex;
        background: inherit;
        border: none;

        align-items: center;

        cursor: pointer;
        font-weight: bold;
        gap: 0.3rem;
        color: var(--yellow-300);
        position: relative;


    }




    .inputMobile {

        border: none;
        border-radius: 5px;
        height: 1.4rem;
        width: 8rem;

        margin: 1rem;

        background-color: var(--white-400);
        color: var(--gray-400);
    }

    .input::placeholder {
        padding-left: 8px;
        font-size: 15px;
        align-items: center;

    }

    .inputMobile::placeholder {
        padding-left: 8px;
        font-size: 15px;
        align-items: center;

    }


    .buttonMobile {
        border: none;
        background: inherit;
        display: flex;
        color: var(--gray-300);
        position: absolute;
        right: 39px;
        top: 250px;

    }

    .buttonMobile:hover {
        color: var(--white-200);
    }

    .close {

        height: 30px;
        min-width: 70%;


        background: inherit;
        color: var(--yellow-300);
        font-weight: bold;
        border: none !important;
        border-radius: 5px;






    }

    .image {
        margin: 0 auto;
        margin-left: 1.9rem;
        width: 13.9rem;
        height: 14rem;
    }



    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateX(-90%);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes slideUp {
        from {
            opacity: 1;
            transform: translateX(0);
        }

        to {
            opacity: 0;
            transform: translateX(-100%);
        }
    }
}