


@media (max-width: 1024px) {
  


.app {

  display: flex;
  flex-direction: column;

  align-items: center;

}

.swiper {
  max-width: 60%;
  padding: 1rem;
  margin: 0 auto;


}

.swiper img {
  width: 55%;
  height: 350px;


}

.swiperslide {

  margin-left: 15rem;

  object-fit: cover;
}


.options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;



  height: 12.5rem;
  margin: 0 auto;
}

.options img {

  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 5px;
}

.category {

  display: flex;
  align-items: center;
  overflow: hidden;



  justify-content: center;
  flex-direction: column;


}

.category p {
  margin: 1rem;

  opacity: 0.5;


}

.line {
  border: 1px var(--blue-100) solid;
  width: 50rem;
  align-items: center;
  margin: 0 auto;


}
.text{
  padding: 2rem;
}

.swiper-button-prev, .swiper-button-next {
  color: white;

}
}

@media (max-width: 600px) {

.swiper{
  position: relative;
  z-index: 0;
}  

}