.back {

  margin-left: -15rem;
  display: flex;
  align-items: center;
  gap: 5px;

  cursor: pointer;
  font-weight: bold;

}

.back:hover {
  color: var(--white-200);
}

.swiper {
  max-width: 30rem;
  max-height: 50%;



}

.swiper img {
  height: 25rem;
  width: 25rem;
  margin-top: 2rem;

}

.swiperslide {

  margin-left: 15rem;

  object-fit: cover;
}

.text {
  font-weight: bold;
margin: 20px;
}

.imageWrapper img {

  width: 25rem;
}