@media (min-width: 601px) {




  .back {
    margin-left: -15rem;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-weight: bold;
    color: var(--black-100);
    transition: color 0.3s ease;
  }

  .back:hover {


    color: var(--yellow-400);
  }

  .swiper {
    max-width: 30rem;
    max-height: 25rem;

    border-radius: 10px;
    overflow: hidden;
    margin-left: 5.2rem;

  }

  .swiper img {
    width: 100%;
    height: auto;

    object-fit: cover;
    max-width: 25rem;
  }

  .swiperslide {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
    font-size: 1.5rem;
    color: var(--black-100);

  }

  .text {
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
    font-size: 1.5rem;
    color: var(--primary-color);
  }

  .imageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }

  .imageWrapper img {
    width: 100%;
    max-width: 25rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .imageWrapper img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 600px) {

  .swiper {
    z-index: -1;
    margin-left: 3rem;
    position: relative;
  }


  .back {
    margin-left: 1rem;
    margin-top: -1.5rem;
    margin-bottom: 2rem;
    display: flex;
    font-weight: bold;
    align-items: center;
    gap: 5px;
  }

  .text {
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
    font-size: 1.5rem;
    color: var(--primary-color);
  }

  .imageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 22rem;
    margin: 0 auto;
  }
  .imageWrapper img{
    width: 100%;
    max-width: 25rem;
    border-radius: 10px;

  }




}