:root {
    --blue-100: #0A1B2D;
    --blue-200: #123254;
    --black-500: #211e1e;
    --yellow-300: #E6D35B;
    --yellow-400: #957907;
    --gray-100: #383838;
    --gray-200: #242425;
    --gray-400: #262640;
    --gray-500: #1a1a1c;
    --black-100: #050505;
    --white-400: #b4b0b0f3;
    --white-100: #b4b0b0f3;
    --white-200: #f3eeeef3;
    --white-300: #ffff;
    --green-500: #25D366;
    --green-600: #075E54;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

}


body {
    background: var(--white-300);
    color: var(--black-100);

    font-family: 'Raleway', sans-serif;


    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;

    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}
button {
    font-family: 'Raleway', sans-serif; /* Fonte para elementos de navegação e botões */
  }

body, input, textarea, button {

    font-weight: 400;
    font-size: 1rem;

}